@import "resets"

$width = 1020px;

@font-face {
	font-family: 'Conv_ReplicaStdRegular';
	src: url('fonts/ReplicaStdRegular.eot');
	src: local('☺'), url('fonts/ReplicaStdRegular.woff') format('woff'), url('fonts/ReplicaStdRegular.ttf') format('truetype'), url('fonts/ReplicaStdRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html
	font-family: 'Conv_ReplicaStdRegular',helvetica,arial,sans-serif
	font-size: 20px

// TYPOGRAPHY
h1
	font-size: 1.75em
	margin: 0
	padding: 0

h3


p
	margin-top: 0

// LINKS
a,a:active,a:visited
	color:inherit
	text-decoration: none

a:hover
	cursor: pointer

.container
	width: $width
	margin: 0 auto

#main-content
	text-align: center
	margin: 0
	padding: 0
	padding-top: 40px
	div
		margin: 0
		padding: 0
		margin: 0 auto
		margin-bottom: -8px

	#projects
		display: none

	div.project
		width: auto
		text-align: left
		h1
			height: 52px
		svg
			height: 30px
			margin-top: 10px
		span.editions
			margin-left: 8px
			font-size: 20px
		.post-content
			display: none
			text-align: left
			margin: 0
			width: 500px
			p:last
				margin-bottom: .5em

	div.page
		text-align: center
		.page-content
			display: none
			text-align: left
			margin: 0
			width: 500px
			p:last
				margin-bottom: .5em
	div.gallery
		width: 100%
		position: relative
		margin-bottom: 1em
		.cycle-prev, .cycle-next
			position: absolute
			top: 0
			bottom: 0
			width: 40%
			z-index: 101
			text-align: center
			vertical-align: middle
			opacity: 0
			&:hover
				opacity: 1
			.genericon
				width: 40px
				height: 40px
				font-size: 40px
				display: none
		.cycle-prev
			left: 0
			&:hover
				cursor: url(img/left-cursor.png), auto
		.cycle-next
			right: 0
			&:hover
				cursor: url(img/right-cursor.png), auto
		.cycle-caption
			position: absolute
			bottom: 10px
			font-size: .8em
		.cycle-slide
			width: 100%
			img
				max-width: 100%
				max-height: 100%
				width: auto
				height: auto


// MEDIA QUERIES
@media screen and (max-width: 1020px)
	html
		width: 100%;

	.container
		width: 95%
		overflow: hidden

	#main-content
		padding-top: 20px

		#projects
			div.project
				margin-top: 5px
				margin-left: 0px !important
				width: 100%
				svg
					height: 25px
					margin-top: 10px
				h1
					text-align: center
				.post-content
					max-width: 500px
					width: 100%
					margin: 0 auto
					p
						text-align: center

		div.page
			.page-content
				max-width: 500px
				width: 100%
				margin: 0 auto !important
				text-align: center
				p
					text-align: center


@media screen and (max-width: 320px)

	html
		font-size: 17px

