@font-face {
  font-family: 'Conv_ReplicaStdRegular';
  src: url('../fonts/static/ReplicaStdRegular.eot');
  src: local('☺'), url('../static/fonts/ReplicaStdRegular.woff') format('woff'), url('../fonts/static/ReplicaStdRegular.ttf') format('truetype'), url('../static/fonts/ReplicaStdRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}