@import 'resets'
@import 'swiper'
@import 'fontface'

$width = 1020px

$font-smaller = .8em

html
  font-family: 'Conv_ReplicaStdRegular', helvetica, arial, sans-serif
  font-size: 20px

// TYPOGRAPHY

h1
  font-size: 1.75em
  margin: 0
  padding: 0

h2
  font-size: 1.5em
  margin: 0
  padding: 0

h3
  font-size: 1.25em
  margin: 0
  padding: 0

p
  margin-top: 0

// LINKS

a, a:active, a:visited
  color:inherit
  text-decoration: none

a:hover
  cursor: pointer

.container
  width: $width
  margin: 0 auto

#main-content
  text-align: center
  margin: 0
  padding: 0
  padding-top: 40px

#projects
  display: none

div.project
  width: auto
  text-align: left
  h1
    height: 52px
  svg
    height: 30px
    margin-top: 10px
  span.editions
    margin-left: 8px
    font-size: 20px
  .post-content
    display: none
    text-align: left
    margin: 0
    width: 500px
    p:last
      margin-bottom: .5em

div.page
  text-align: center
  .page-content
    display: none
    text-align: left
    margin: 0
    width: 500px
    p:last
      margin-bottom: .5em

.swiper-container
  height: 500px
  padding-bottom: 70px

.swiper-pagination
  bottom: -10px

.swiper-button-prev, .swiper-button-next
  position: absolute
  top: 0
  bottom: 0
  width: 40%
  height: 100%
  z-index: 100
  text-align: center
  vertical-align: middle
  opacity: 0
  cursor: pointer
  &:hover
    opacity: 1

.swiper-button-prev
  left: 0
  background-position-x: 40%

.swiper-button-next
  right: 0
  background-position-x: 60%

.swiper-meta
  padding: 10px 0
  font-size: $font-smaller
  text-align: left

.swiper-pagination
  width: auto
  position: relative
  bottom: 0

.swiper-pagination, .swiper-caption
  display: inline
  padding-right: 5px

.swiper-slide
  overflow: hidden
  img
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto

.swiper-slide-content-holder
  display: flex
  height: 100%
  justify-content: center
  align-items: center

.swiper-lazy-preloader
  width: 30px
  height: 30px
  position: relative
  margin: 0
  padding: 10px

// MAILCHIMP FORM
// Adapted from MailChimp Form Embed Code - Slim - 12/15/2015 v10.7

#mc_embed_signup
  margin-bottom: 15px

  input
    width: 66%
    border: 1px solid #999
    -webkit-appearance: none
    &[type=checkbox]
      -webkit-appearance: checkbox
    &[type=radio]
      -webkit-appearance: radio
    &:focus
      border-color: #333

  .button
    clear: both
    background-color: #aaa
    border: 0 none
    border-radius: 4px
    letter-spacing: .03em
    color: #FFFFFF
    cursor: pointer
    display: inline-block
    font-size: 15px
    height: 32px
    line-height: 32px
    margin: 0 5px 10px 0
    padding:0
    text-align: center
    text-decoration: none
    vertical-align: top
    white-space: nowrap
    width: auto
    transition: all 0.15s ease-in-out 0s
    &:hover
      background-color:#777

  .mc-field-group
    margin: 10px 0

  label
    display: block
    padding-bottom: 5px

  input
    box-sizing: border-box
    display: block
    width: 100%
    padding: 0 0.4em
    min-height: 32px
    min-width: 130px
    border-radius: 3px

  input.button
    display: block
    width: 42%
    min-width: 90px

  div#mce-responses
    float: left
    top: -1.4em
    padding: 0em .5em 0em .5em
    overflow: hidden
    width: 90%
    margin: 0 5%
    clear: both

  div.response
    margin: 1em 0
    padding: 1em .5em .5em 0
    font-weight: bold
    float: left
    top: -1.5em
    z-index: 1
    width: 80%

  #mce-error-response
    display: none

  #mce-success-response
    color: #529214
    display: none

  label.error
    display: block
    float: none
    width: auto
    margin-left: 1.05em
    text-align: left
    padding: .5em 0

// MEDIA QUERIES

@media screen and (max-width: 1020px)

  html
    width: 100%

  .container
    width: 95%
    overflow: hidden

  #main-content
    padding-top: 20px

  #projects
    div.project
      margin-top: 5px
      margin-left: 0 !important
      width: 100%
      svg
        height: 25px
        margin-top: 10px
      h1
        text-align: center
      .post-content
        max-width: 500px
        width: 100%
        margin: 0 auto
        p
          text-align: center

  div.page
    .page-content
      max-width: 500px
      width: 100%
      margin: 0 auto !important
      text-align: center
      p
        text-align: center

  // MAILCHIMP

  #mc_embed_signup
    max-width: 380px
    margin: 0 auto
    input, input.button
      width: 100%

@media screen and (max-width: 320px)

  html
    font-size: 17px